:root {
    --increase: 40px;
    --articlepad: 20%;
    --linksize: 20px;
  }

body{
    background-image: url(images/Background.png);
    background-color: #313030;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: auto 100%;	
    overflow-x: hidden;
}

.navbar{
    background-color: #000000;
    opacity: 0.9;
    text-align: center;
    line-height: 66px;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
    
}

.navbarlinks{
    text-align: center;
    font-size: var(--linksize);
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 15px;
}


.navbar a:hover{
    font-size: var(--increase);
    background-color: rgb(0, 61, 61);
    transition: 0.5s;
}


.article{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    margin-left: var(--articlepad);
    padding-left: 10%;
    margin-right: var(--articlepad);
    padding-right: 10%;
    background-color: #272727;
    border-radius: 25px;
}

.header{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    background-color: #272727;
    margin-right: 20%;
    margin-left: 20%;
}

.galleryimg{
    width: 100%;	
    padding:1%;
}

.gallery{
    padding-top: 20px;
}

.articleLink{
    text-decoration: none;
    color: #213bb1;
}